<h1>My Todo's</h1>

<div class="alert alert-success" *ngIf='deleteMessage'>{{deleteMessage}}</div>
<div class="alert alert-success" *ngIf='updateMessage'>{{updateMessage}}</div>

<div class="container">
  <table class="table table-responsive">
    <!--<caption>My Todo's</caption>-->
    <thead>
    <tr>
      <th>id</th>
      <th>description</th>
      <th>is it done?</th>
      <th>target date</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr>-->
    <!--<td>{{todo.id}}</td>-->
    <!--<td>{{todo.description}}</td>-->
    <!--</tr> -->

    <!--in java-->
    <!--for (Todos todo: todos){}-->
    <!--instead we use ng directive-->
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>{{todo.done}}</td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-danger">Delete</button></td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-primary">Update</button></td>

    </tr>
    </tbody>
  </table>
</div>


